input[name="sample"] {
  font-weight: bold;
}

input[name="sample"]::placeholder {
  font-weight: normal;
}

.seven {
  font-size: 10px;
  transform: scale(0.7);
  transform-origin: 0px 0px;
}

.five {
  font-size: 10px;
  transform: scale(0.7);
  transform-origin: 0px 0px;
}
